.banner-homepage {
  position: relative;
}

.banner-quiz {
  position: relative;
}

.banner-content-quiz {
  position: absolute;
  top: 120px;
  left: 300px;
}

@media only screen and (min-width: 38em) {

  .banner-content {
    position: absolute;
    bottom: 0;
  }

}

@media only screen and (min-width: 60em) {

  .banner-content {
    bottom: 5rem;
    left: 5rem;
  }

}
